@media only screen and (min-width: 800px) {
  .container {
    width: 768px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 976px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1260px;
    max-width: 100%;
  }
}